<div class="cont">
  <div>
    <div class="title">Lectures</div>
    <mat-grid-list cols="4" rowHeight="4:5" class="tiles">
      <mat-grid-tile>
        <div class="cardCustom">
          <div class="cardImage"></div>
          <div class="cardTitle">Lecture 1</div>
          <div class="cardSubtitle">
            Learn Crypto is a free education platform designed to help users
            easily learn about cryptocurrency, with simple, relevant and engaging
            content.
          </div>
          <div class="cardButton" [routerLink]="['/lecture', 1]">Read more!</div>
        </div></mat-grid-tile
      >
      <mat-grid-tile>
        <div class="cardCustom">
          <div class="cardImage"></div>
          <div class="cardTitle">Lecture 2</div>
          <div class="cardSubtitle">
            Learn Crypto is a free education platform designed to help users
            easily learn about cryptocurrency, with simple, relevant and engaging
            content.
          </div>
          <div class="cardButton" [routerLink]="['/lecture', 2]">Read more!</div>
        </div></mat-grid-tile
      >
      <mat-grid-tile>
        <div class="cardCustom">
          <div class="cardImage"></div>
          <div class="cardTitle">Lecture 3</div>
          <div class="cardSubtitle">
            Learn Crypto is a free education platform designed to help users
            easily learn about cryptocurrency, with simple, relevant and engaging
            content.
          </div>
          <div class="cardButton" [routerLink]="['/lecture', 3]">Read more!</div>
        </div></mat-grid-tile
      >
      <mat-grid-tile>
        <div class="cardCustom">
          <div class="cardImage"></div>
          <div class="cardTitle">Lecture 4</div>
          <div class="cardSubtitle">
            Learn Crypto is a free education platform designed to help users
            easily learn about cryptocurrency, with simple, relevant and engaging
            content.
          </div>
          <div class="cardButton" [routerLink]="['/lecture', 4]">Read more!</div>
        </div></mat-grid-tile
      >
  
      <mat-grid-tile>
        <div class="cardCustom">
          <div class="cardImage"></div>
          <div class="cardTitle">Lecture 5</div>
          <div class="cardSubtitle">
            Learn Crypto is a free education platform designed to help users
            easily learn about cryptocurrency, with simple, relevant and engaging
            content.
          </div>
          <div class="cardButton" [routerLink]="['/lecture', 5]">Read more!</div>
        </div></mat-grid-tile
      >
      <mat-grid-tile>
        <div class="cardCustom">
          <div class="cardImage"></div>
          <div class="cardTitle">Lecture 6</div>
          <div class="cardSubtitle">
            Learn Crypto is a free education platform designed to help users
            easily learn about cryptocurrency, with simple, relevant and engaging
            content.
          </div>
          <div class="cardButton" [routerLink]="['/lecture', 6]">Read more!</div>
        </div></mat-grid-tile
      >
      <mat-grid-tile>
        <div class="cardCustom">
          <div class="cardImage"></div>
          <div class="cardTitle">Lecture 7</div>
          <div class="cardSubtitle">
            Learn Crypto is a free education platform designed to help users
            easily learn about cryptocurrency, with simple, relevant and engaging
            content.
          </div>
          <div class="cardButton" [routerLink]="['/lecture', 7]">Read more!</div>
        </div></mat-grid-tile
      >
      <mat-grid-tile>
        <div class="cardCustom">
          <div class="cardImage"></div>
          <div class="cardTitle">Lecture 8</div>
          <div class="cardSubtitle" >
            Learn Crypto is a free education platform designed to help users
            easily learn about cryptocurrency, with simple, relevant and engaging
            content.
          </div>
          <div class="cardButton" [routerLink]="['/lecture', 8]">Read more!</div>
        </div></mat-grid-tile
      >
    </mat-grid-list>
  </div>
</div>
