<div class="cont">
  <div class="opener">
    <div class="openerText">
      <div class="openerTitle">Learn crypto now</div>
      <div class="openerSubtitle">
        <b>CryptoStuff</b> is a free education platform designed to help users easily
        learn about cryptocurrency, with simple, relevant and engaging content.
        Start with cryptocurrency basics or choose from our common themes.
      </div>
    </div>
  </div>
  <!-- <div class="lecturesHome">
    <span class="lecturesTitle">Lectures</span>
    <div class="lecturesCards">
      <div class="cardCustom">
        <div class="cardImage"></div>
        <div class="cardTitle">Lecture 1</div>
        <div class="cardSubtitle">
          Learn Crypto is a free education platform designed to help users
          easily learn about cryptocurrency, with simple, relevant and engaging
          content.
        </div>
        <div class="cardButton" [routerLink]="['/lecture', 1]">
            Read more!
        </div>
      </div>
      
      <div class="cardCustom">
        <div class="cardImage"></div>
        <div class="cardTitle">Lecture 2</div>
        <div class="cardSubtitle">
          Learn Crypto is a free education platform designed to help users
          easily learn about cryptocurrency, with simple, relevant and engaging
          content.
        </div>
        <div class="cardButton" [routerLink]="['/lecture', 2]">
            Read more!
        </div>
      </div>

      <div class="cardCustom">
        <div class="cardImage"></div>
        <div class="cardTitle">Lecture 3</div>
        <div class="cardSubtitle">
          Learn Crypto is a free education platform designed to help users
          easily learn about cryptocurrency, with simple, relevant and engaging
          content.
        </div>
        <div class="cardButton" [routerLink]="['/lecture', 3]">
            Read more!
        </div>
      </div>
    </div>
  </div>

  <div class="lecturesHome">
    <span class="lecturesTitle">Video lectures</span>
    <div class="lecturesCards">
      <div class="cardCustom">
        <div class="cardImage"></div>
        <div class="cardTitle">Video Lecture 1</div>
        <div class="cardSubtitle">
          Learn Crypto is a free education platform designed to help users
          easily learn about cryptocurrency, with simple, relevant and engaging
          content.
        </div>
        <div class="cardButton" [routerLink]="['/video-lecture', 1]">
            Watch now!
        </div>
      </div>
      
      <div class="cardCustom">
        <div class="cardImage"></div>
        <div class="cardTitle">Video Lecture 2</div>
        <div class="cardSubtitle">
          Learn Crypto is a free education platform designed to help users
          easily learn about cryptocurrency, with simple, relevant and engaging
          content.
        </div>
        <div class="cardButton" [routerLink]="['/video-lecture', 2]">
          Watch now!
        </div>
      </div>

      <div class="cardCustom">
        <div class="cardImage"></div>
        <div class="cardTitle">Video Lecture 3</div>
        <div class="cardSubtitle">
          Learn Crypto is a free education platform designed to help users
          easily learn about cryptocurrency, with simple, relevant and engaging
          content.
        </div>
        <div class="cardButton" [routerLink]="['/video-lecture', 3]">
          Watch now!
        </div>
      </div>
    </div>
  </div> -->

  <div class="lecturesHome">
    <span class="lecturesTitle">Trading sandbox</span>
    <span class="lecturesSubtitle">Try trading with crypto currencies without spending your money!</span>
    <span class="sandboxButton" [routerLink]="['/trading-sandbox']">Try it now!</span>
  </div>
</div>
