<div class="cont">
    <div>
      <div class="title">Video lectures</div>
      <mat-grid-list cols="4" rowHeight="4:5" class="tiles">
        <mat-grid-tile>
          <div class="cardCustom">
            <div class="cardImage"></div>
            <div class="cardTitle">Video lecture 1</div>
            <div class="cardSubtitle">
              Learn Crypto is a free education platform designed to help users
              easily learn about cryptocurrency, with simple, relevant and engaging
              content.
            </div>
            <div class="cardButton" [routerLink]="['/video-lecture', 1]">Watch now!</div>
          </div></mat-grid-tile
        >
        <mat-grid-tile>
          <div class="cardCustom">
            <div class="cardImage"></div>
            <div class="cardTitle">Video lecture 2</div>
            <div class="cardSubtitle">
              Learn Crypto is a free education platform designed to help users
              easily learn about cryptocurrency, with simple, relevant and engaging
              content.
            </div>
            <div class="cardButton" [routerLink]="['/video-lecture', 2]">Watch now!</div>
          </div></mat-grid-tile
        >
        <mat-grid-tile>
          <div class="cardCustom">
            <div class="cardImage"></div>
            <div class="cardTitle">Video lecture 3</div>
            <div class="cardSubtitle">
              Learn Crypto is a free education platform designed to help users
              easily learn about cryptocurrency, with simple, relevant and engaging
              content.
            </div>
            <div class="cardButton" [routerLink]="['/video-lecture', 3]">Watch now!</div>
          </div></mat-grid-tile
        >
        <mat-grid-tile>
          <div class="cardCustom">
            <div class="cardImage"></div>
            <div class="cardTitle">Video lecture 4</div>
            <div class="cardSubtitle">
              Learn Crypto is a free education platform designed to help users
              easily learn about cryptocurrency, with simple, relevant and engaging
              content.
            </div>
            <div class="cardButton" [routerLink]="['/video-lecture', 4]">Watch now!</div>
          </div></mat-grid-tile
        >
    
        <mat-grid-tile>
          <div class="cardCustom">
            <div class="cardImage"></div>
            <div class="cardTitle">Video lecture 5</div>
            <div class="cardSubtitle">
              Learn Crypto is a free education platform designed to help users
              easily learn about cryptocurrency, with simple, relevant and engaging
              content.
            </div>
            <div class="cardButton" [routerLink]="['/video-lecture', 5]">Watch now!</div>
          </div></mat-grid-tile
        >
        <mat-grid-tile>
          <div class="cardCustom">
            <div class="cardImage"></div>
            <div class="cardTitle">Video lecture 6</div>
            <div class="cardSubtitle">
              Learn Crypto is a free education platform designed to help users
              easily learn about cryptocurrency, with simple, relevant and engaging
              content.
            </div>
            <div class="cardButton" [routerLink]="['/video-lecture', 6]">Watch now!</div>
          </div></mat-grid-tile
        >
        <mat-grid-tile>
          <div class="cardCustom">
            <div class="cardImage"></div>
            <div class="cardTitle">Video lecture 7</div>
            <div class="cardSubtitle">
              Learn Crypto is a free education platform designed to help users
              easily learn about cryptocurrency, with simple, relevant and engaging
              content.
            </div>
            <div class="cardButton" [routerLink]="['/video-lecture', 7]">Watch now!</div>
          </div></mat-grid-tile
        >
        <mat-grid-tile>
          <div class="cardCustom">
            <div class="cardImage"></div>
            <div class="cardTitle">Video lecture 8</div>
            <div class="cardSubtitle">
              Learn Crypto is a free education platform designed to help users
              easily learn about cryptocurrency, with simple, relevant and engaging
              content.
            </div>
            <div class="cardButton" [routerLink]="['/video-lecture', 8]">Watch now!</div>
          </div></mat-grid-tile
        >
      </mat-grid-list>
    </div>
  </div>
  